<?xml version="1.0" ?>

<robot name="turtlebot4_lite" xmlns:xacro="http://ros.org/wiki/xacro">
      
    <xacro:include filename="$(find robot_models_description)/urdf/rplidar.urdf.xacro" />

    <link name="base_link"> 
        <visual>
            <origin xyz="0 0 1.1" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.2" length="2.2"/>
            </geometry>          
        </visual> 
        <collision>
            <origin xyz="0 0 1.1" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.2" length="2.2"/>
            </geometry>
        </collision>  
        <inertial>
            <mass value="10"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </link>

    <xacro:rplidar name="rplidar_link" />

    <joint name="base_2_rplidar" type="fixed">
        <origin xyz="0.0 0.0 2.5" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="rplidar_link"/>
    </joint> -->

</robot>